@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.pink-gradient {
  background: #1a1a1a; /* very dark gray */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.neon-gradient {
  background: linear-gradient(90deg, #00ffff, #ff00ff );
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #595757;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
  background-color: #5d5c5c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #6f6e6e;
  border-radius: 4px;
}

/* Track
::-webkit-scrollbar-track {
  background-color: #353535;
  border-radius: 8px;
} */

/* Timeline */
